<div class="col">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{recipeInput.name}}</h4>
    <p class="list-group-item-text">{{recipeInput.description}}</p>
  </div>
  <span class="pull-right">
    <img [src]="recipeInput.imagePath" alt="{{recipeInput.name}}" class="img-responsive" style="max-height: 50px;">
  </span>
</div>
<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="image-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe 
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="">To Shopping List</a></li>
        <li><a href="">Edit Recipe</a></li>
        <li><a href="">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">Description</div>
</div>
<div class="row">
  <div class="col-xs-12">
    Ingredient
  </div>

